@use "../../utils/variables";
@use "../../utils/mixins";

.card__servingNotice {
  padding: 10px 15px;
  background-color: variables.$grey-1;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  display: none;

  @include mixins.breakpoints("large") {
    padding: 15px;
  }
}

.card__servingNoticeText {
  font-weight: bold;
  color: variables.$alert;

  @include mixins.text-tertiary;
}
